<div class="container-fluid">
  <div class="row-fluid">
    <div class='span2'>
        Search: <input ng-model="query">
        
     <!--     Credit Hours: <select ng-model="HoursId" ng-options=" c.creditHours as c.creditHours for c in courses | orderBy: 'creditHours' | unique: 'creditHours'">
		<option value="">Credit Hours...</option>
		</select>-->
        
        Program: <select ng-model="pgrmId" ng-options=" c.program as c.program for c in courses | orderBy: 'program' | unique: 'program'">
		<option value="">Program...</option>
      </select>
        
		

Transfer Module Approved: <select ng-model="TMApproved" >
		<option value="">OTM...</option>
		<option value=true>Yes</option>
		<option value=false>No</option>
</select>

    </div>
    <div class="span10">
      <!--Body content-->

    <ul class="courses">
        <li ng-repeat="course in courses | filter:query | filter:{program: pgrmId} | filter:HoursId | filter: {OTM: TMApproved} | limitTo: itemsLimit()">
          
          <a href="#/courses/{{course.id}}">{{course.courseCode}}</a>
          <p>Name: {{course.courseName}}</p>
          <p>Department: {{course.department}}</p>
          <p>Program: {{course.program}}</p>
          <p>Hours: {{course.creditHours}}</p>
          <p>Description: {{course.description}}</p>
          <p>Transfer Module: {{course.OTM}}</p>
        </li>
      </ul>
 <button ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Show more</button> 
    </div>
  </div>
</div>
