<div class="container-fluid">
  <div class="row-fluid">
    <div class='span2'>
        Search: <input ng-model="query">
  
      Department: <select ng-model="departmentId" ng-options=" c as c.department for c in courses | orderBy: 'department' | unique: 'department'">
		<option value="">Department...</option>
      </select>
        
       Credit Hours: <select ng-model="HoursId" ng-options=" c as c.creditHours for c in courses | orderBy: 'creditHours' |  filter: {department: departmentId.department} | unique: 'creditHours' ">
		<option value="">Credit Hours...</option>
		</select>
		General Education: <select ng-model="GenEdId" ng-options=" c as c.genEd for c in courses | orderBy: 'genEd' |  filter: {department: departmentId.department} | unique: 'genEd' ">
		<option value="">General Education...</option>
		</select>
		

Transfer Module Approved: <select ng-model="TMApproved" >
		<option value="">OTM...</option>
		<option value=true>Yes</option>
		<option value=false>No</option>
</select>
Transfer Assurance Guide: <select ng-model="TAGpproved" >
		<option value="">TAG...</option>
		<option value=true>Yes</option>
		<option value=false>No</option>
</select>

    </div>
    <div class="span10">
      <!--Body content-->

    <ul class="courses">
        <li ng-repeat="course in courses | filter:query  | filter:{department: departmentId.department}:true | filter: {OTM: TMApproved} | filter: {TAG: TAGpproved} | filter:{creditHours:HoursId.creditHours} |GenEdFilter:GenEdId.genEd:true | limitTo: itemsLimit()">
          
          <a ng-href="#/courses/{{course.id}}">{{course.courseCode}}</a>
          <p>Name: {{course.courseName}}</p>
          <p>Department: {{course.department}}</p>
          <p>Hours: {{course.creditHours}}</p>
          <p>Description: {{course.description}}</p>
          <p ng-if = "course.otm">Transfer Module: {{course.otm}}</p>
          <p ng-if = "course.tag">Transfer Assurance Guide: {{course.tag}}</p>
          <p ng-if="course.prereq">Prereq: {{course.prereq}}</p>
          <p ng-if="course.genEd">General Education: {{course.genEd}}</p>
          <p ng-if="course.genEdAlt">General Education Alt: {{course.genEdAlt}}</p>
        </li>
      </ul>
 <button ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Show more</button> 
    </div>
  </div>
</div>
